<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="hello/css/main.css">
</head>

<body>
  <div id="app">
    <p>
      {{ message }}
    </p>
    <p v-if="toggle">
      <a v-bind:href="url">Vue.js</a>
    </p>
    <ul>
      <li v-for="language in  languages">{{ language }}</li>
    </ul>
    <button v-on:click="clickHandler">
      Click!
    </button>
    <p>
      <input type="text" name="" id="" v-model="message">
    </p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
  <script src="hello/js/main.js"></script>
</body>

</html>